input {
  display: block;
}
.login {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  &__haeder {
    font-size: 80px;
    font-family: "Dancing Script", cursive;
    color: white;
    margin-top: 80px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
  }
  &__input {
    background: transparent;
    margin: 10px;
    border: 2px solid yellow;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
  }
  &__panel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    width: 40vw;
    height: 30vh;
    border-radius: 20px;
    border: 2px solid yellow;
    align-items: center;
    justify-content: center;
    color: red;
  }
  &__back {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    padding: 5px;
    font-size: 20px;
  }
}
