@import "variables/variables.scss";
.userPanel {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  color: white;

  &__header {
    font-size: 80px;
    font-family: "Dancing Script", cursive;
    color: white;
    margin-top: 80px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
  }
  &__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 50px;
    margin-top: 140px;
    &__button {
      background: none;
      margin: 20px 10px;
      background-color: yellow;
      padding: 10px;
      border-radius: 5px;
    }
    &--visits {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border: $yellowFrame;
      width: 80%;
      height: 50%;
      margin: 50px 50px 50px 25px;
      border-radius: 15px;
    }
    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: $yellowFrame;
      width: 80%;
      height: 50%;
      margin: 50px 25px 50px 50px;
      border-radius: 15px;
    }
  }
}
.visit {
  display: flex;
  &__button {
    margin: 5% 10px;
    height: 50%;
    align-items: center;
    justify-content: center2;
  }
}
