@import "variables/variables.scss";
.userPanel {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  color: white;

  &__header {
    font-family: "Dancing Script", cursive;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20px;
    margin-bottom: 30px;
    font-size: 60px;
  }
  &__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    line-height: 50px;

    &--center {
      align-items: center;
      margin: 120px;
      border: $yellowFrame;
    }
    &--top {
      justify-content: flex-start;
      margin: 120px;
      border: $yellowFrame;
    }
  }
}
