@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import "components/home.scss";
@import "components/login.scss";
@import "components/aboutUs.scss";
@import "components/userPanel.scss";
a {
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  color: black;
}
a:hover {
  box-sizing: border-box;
  border: 2px solid rgb(61, 61, 56);
}
